*{
    background: whitesmoke;
    margin: 0;
    text-decoration: none;
}

header{
    display:flex;
    width:95%;
    margin: 0 auto;
    margin-top: 1em;
    justify-content: space-between;
    align-items: center;
}

.store-name{
    font-weight: 700;
    font-size: 1.8em;
}


.nav-bar ul{
    list-style: none;
    display: flex;
}

.nav-bar li{
    margin-right:1em;
}
.nav-bar li a{
    color: black;
}

@media (max-width:675px){
    header{
        flex-direction: column;
    }

    .nav-bar{
        margin-top: 1em;
    }
}

main{
    width:95%;
    margin: 0 auto;
}

/*this is the first section*/


.firstsection{
    width: 100%;
    display: flex;
    margin-top: 1em;
    justify-content: space-between;
}

.text1{
    width: 20%;
}
.image1{
    width:40%;
}
.aside1{
    width: 30%;
    display: flex;
    flex-direction: column;
}


@media (max-width:675px){
    .firstsection{
        flex-direction: column;
    }
    .text1,
    .image1,
    .aside1{
        width: 100%;
    }
}

/*first section ends here */


/*This is the second section */
.secondsection{
    display: flex;
    width: 100%;
    margin-top: 2.5em;
    justify-content: space-between;
}

.fpart{
    width:50%;
}

.spart{
    width: 45%;
}

@media (max-width:675px){
    .secondsection{
        flex-direction: column;
    }

    .fpart,
    .spart{
        width: 100%;
    }

    .spart{
        margin-top: 1em;
    }
}

/*second section ends here */


/*This is the third section*/
.thirdsection{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 2em;
}

.details{
    width: 30%;


}

.img4{
    width: 30%;
}

.details2{
    width: 30%;
}

@media (max-width:675px){
    .thirdsection{
        flex-direction: column;
    }
        
    .details,
    .img4,
    .details2{
        width: 100%;
            

    }

}

.fourthsection{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 3.8em;
}

  .img5{
        width: 30%;
  }

  .note2{
        width: 30%;
  }

  .note3{
        width: 30%;
  }

  @media (max-width:675px){
    .fourthsection{
        flex-direction: column;
    }

    .img5,
    .note2,
    .note3{
        width: 100%;

    }

  }


.project:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}


